<header>
    <h1>My Create Lesson</h1>
</header>
<body>
<div class = "courseForm" id = "courseForm">
    <div class = "courseFormDisplay" id = "courseFormDisplay">
        <form class="form-container">
        <h1>New Lesson</h1>
        <label >Lesson Title</label>
        <input [(ngModel)] =newLesson.title type="text" id="lessontitle"> <br>

        <label >Course ID</label>
        <input [(ngModel)] =newLesson.title type="number" id="courseid"> <br>
    
        <label >Choose a File</label>
        <input type="file" id="file"> <br>

        <button (click) ="createLesson()" class="btn" id="createLessonButton">Add New Lesson</button>

</form>

    </div>
    
</div>
</body>

