<header>
    <h1>My Enrolled Courses</h1>
</header>
<body>

    <div class="courseList">
        <div class="courseDisplay" id="courseDisplay">
            <div class="course">
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Title</td>
                            <td>Creator</td>
                            <td>Students</td>
                            <td>Date created</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of user.enrolled_courses; let i = index">
                            <td> {{ i+1 }} </td>
                            <td> <button class="titleBtn">{{c.title}}</button> </td>
                            <td> {{c.creator.first_name}} {{c.creator.last_name}}</td>
                            <td> {{c.number_enrolled}} </td>
                            <td> {{c.date_created}} </td>
                            <td> <button class="unenrollBtn" (click) = "unenroll(c.courseid)">UnEnroll</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>