<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create a course</title>
</head>
<body>
    <h1 style="text-align: center;">Create a course!</h1>

    <div id = "courseSubmit"> 
        <form>
            <label>Title</label>
            <input type="text" name="title"/><br>
            <label>Description</label>
            <input type="text"  name="Description"/><br>
            <label>Public Access</label>
            <input type="checkbox"  name="Access"/><br>
            <label>Access Code</label>
            <input type="number"  name="destination"/><br>
           
            <button class = "submit">Add Course</button>

        </form>

    </div>

</body>
</html>